body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    color: white;
    overflow-y: scroll;
    background-image: url('../Midia/Preta.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
  }
  
  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
  }
  
  a {
    text-decoration: none;
  }
  
  .section-1 {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: relative;
    letter-spacing: 4px;
  }
  
  .menu-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    top: 0;
    mix-blend-mode: exclusion;
    margin-top: 65px;
  }
  
  .title img {
    width: 300px;
    height: auto;
    margin-left: 20px;
    display: inline-block;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin: 0;
    left: 5%;
    position: relative;
  }
  
  .menu-links {
    display: flex;
    gap: 15px;
    position: fixed;
    z-index: 1000;
    margin-left: 70%;
  }
  
  .menu-links h3 {
    font-size: 14px;
    margin: 5px;
    font-weight: normal;
    color: white;
    mix-blend-mode: exclusion;
    transition: all 0.5s ease;
    opacity: 1;
    transform: scale(1);
  }
  
  .menu-links:hover h3 {
    opacity: 0.4;
    transform: scale(0.9);
  }
  
  .menu-links h3:hover {
    opacity: 1;
    transform: scale(1);
  }
  
  .Servicos {
    transition: .35s;
    cursor: pointer;
  }
  
  .center {
    position: absolute;
    top: 47%;
    left: 50%;
    margin-top: -45px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 6px;
    color: white;
    mix-blend-mode: exclusion;
  }
  
  .center-pg {
    position: absolute;
    top: 62%;
    left: 50%;
    margin-top: -45px;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 800px;
    font-size: 16px;
    line-height: 1.6;
    color: white;
    mix-blend-mode: exclusion;
  }

.Insta{
  transition: all 0.5s ease;
}

.Insta:hover{
  opacity: 1;
  transform: scale(1.1);
}

  .section-2{
    height: 100vh;
  }

  .section-3{
    height: 100vh;
  }

  .section-4{
    height: 100vh;
  }